$text_align: left, center, right;
$flex_align: flex-start, center, flex-end;

.align {
    @each $horizontal_align in $flex_align {
        @each $vertical_align in $flex_align {
            &_#{$horizontal_align}_#{$vertical_align} {
                display: flex;
                flex-wrap: wrap;
                justify-content: #{$horizontal_align};
                align-content: #{$vertical_align};
            }
        }
    }

    @each $float in $text_align {
        &_text_#{$float} {
            text-align: #{$float};
        }
    }
}
