@use 'utils/media';

%responsive_width {
    @include media.larger_than(media.$small) {
        overflow: auto;
        width: media.$medium;
    }

    @include media.smaller_than(media.$small) {
        overflow: auto;
        width: 100%;
    }
}

.container {
    margin: auto;
    width: 100%;
    overflow: auto;

    &_left {
        float: left;
        width: 100%;
        overflow: auto;
    }

    &_right {
        float: right;
        width: 100%;
        overflow: auto;
    }

    &_layout {
        margin: auto;
        @extend %responsive_width;

        &_left {
            float: left;
            @extend %responsive_width;
        }

        &_right {
            float: right;
            @extend %responsive_width;
        }
    }
}
