@mixin large {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin small {
    @media (max-width: 1280px) {
        @content;
    }
}

%responsive_width {
    @include large {
        overflow: auto;
        width: 1280px;
    }

    @include small {
        overflow: auto;
        width: 100%;
    }
}

.container {
    margin: auto;
    width: 100%;
    overflow: auto;

    &_left {
        float: left;
        width: 100%;
        overflow: auto;
    }

    &_right {
        float: right;
        width: 100%;
        overflow: auto;
    }

    &_layout {
        margin: auto;
        @extend %responsive_width;

        &_left {
            float: left;
            @extend %responsive_width;
        }

        &_right {
            float: right;
            @extend %responsive_width;
        }
    }
}
