@use "utils/media";

@mixin flex_grid($col_limit: 12) {
    @include media.smaller_than(media.$mobile) {
        $size: 2;
        & > :nth-child(n) {
            width: calc(100% / #{$size});
        }

        @for $col from 1 to 13 {
            .flex_col_#{$col} {
                @if $col >= $size {
                    width: 100%;
                } @else {
                    width: calc(100% / #{$size} * #{$col}) !important;
                }
            }
        }
    }

    @include media.larger_than(media.$mobile) {
        $size: 4;
        @if ($size <= $col_limit) {
            & > :nth-child(n) {
                width: calc(100% / #{$size});
            }

            @for $col from 1 to 13 {
                .flex_col_#{$col} {
                    @if $col >= $size {
                        width: 100%;
                    } @else {
                        width: calc(100% / #{$size} * #{$col}) !important;
                    }
                }
            }
        }
    }

    @include media.larger_than(media.$small) {
        $size: 6;
        @if ($size <= $col_limit) {
            & > :nth-child(n) {
                width: calc(100% / #{$size});
            }

            @for $col from 1 to 13 {
                .flex_col_#{$col} {
                    @if $col >= $size {
                        width: 100%;
                    } @else {
                        width: calc(100% / #{$size} * #{$col}) !important;
                    }
                }
            }
        }
    }

    @include media.larger_than(media.$medium) {
        $size: 12;
        @if ($size <= $col_limit) {
            & > :nth-child(n) {
                width: calc(100% / #{$size});
            }

            @for $col from 1 to 13 {
                .flex_col_#{$col} {
                    @if $col >= $size {
                        width: 100%;
                    } @else {
                        width: calc(100% / #{$size} * #{$col}) !important;
                    }
                }
            }
        }
    }
}

%flex_grid_default {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    & > :nth-child(n) {
        box-sizing: border-box;
    }
}

.flex_grid {
    @extend %flex_grid_default;
    @include flex_grid();
    @for $limit from 1 to 13 {
        &_#{$limit} {
            @extend %flex_grid_default;
            @include flex_grid($limit);
        }
    }
}
