@use 'utils/media';

%grid_default {
    display: grid;
}

@mixin grid($limit: 12) {
    @include media.larger_than(media.$small) {
        grid-template-columns: repeat($limit, 1fr);
    }

    @include media.smaller_than(media.$small) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid {
    @extend %grid_default;
    @include grid();
    @for $col from 1 to 13 {
        &_#{$col} {
            @extend %grid_default;
            @include grid($col);
        }
    }
}

@for $start from 0 to 13 {
    @for $end from $start + 1 to 13 {
        .col_#{$start}_#{$end} {
            @include media.larger_than(media.$small) {
                grid-column: #{$start + 1} / #{$end + 1};
            }
            @include media.smaller_than(media.$small) {
                grid-column: 1 / 2;
            }
        }
    }
}
